SIM_MODE	2
# 1. standard
# 2. debug
# 3. selfCheck
TILE_TYPE	1
# 1. mount generic IP
# 2. mount soclib IP  
WARMUP		5
TG_NUM		3000
SIM_NUM		4000
STAT_OP		5
STAT_ED		1500
STAT_RES	100
CLK_FREQ	1
VC_BUFS		8
FLITSIZE	4
HEAD_PAYLOAD	1
DATA_PAYLOAD	1
TOPO_FILE	topo/topo_stacked.nfn
APP_FILE	app/app_cbr.config
IPMAP_FILE	ipmap.config
SECMAP_FILE	secmap.config
RESULT_HOME	./result_dbg_cbr