SIM_MODE	2
# 1. standard
# 2. debug
# 3. selfCheck
TILE_TYPE	1
# 1. mount regular IP
# 2. mount soclib IP  
WARMUP		5
TG_NUM		20000
SIM_NUM		20000
STAT_OP		5
STAT_ED		20000
STAT_RES	20000
CLK_FREQ	1
VC_BUFS		8
FLITSIZE	4
HEAD_PAYLOAD	1
DATA_PAYLOAD	1
TOPO_FILE	topo/topo_stacked.nfn
APP_FILE	app/app_trace.config
IPMAP_FILE	ipmap.config
SECMAP_FILE	secmap.config
RESULT_HOME	./rst_rg_dbg_trc_stacked